# Git
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Virtual environments
venv/
ENV/

# Editor and IDE artifacts
.idea/
.vscode/
*~
*.swp
*.swo

# Project specific
TEST/
TEST_OUTPUT/
INPUT/
*.md
!README.md
!LICENSE 